@charset "UTF-8";
.ev-help.ev-help-inline { font-style: italic; font-size: 12px; color: #999; }

@-webkit-keyframes spinner { 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); } }
@-moz-keyframes spinner { 0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); } }
@-o-keyframes spinner { 0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); } }
@-ms-keyframes spinner { 0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); } }
@keyframes spinner { 0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } }
.ev-field { display: block; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 12px 20px; }
.ev-field.ev-hidden { display: none; }
.ev-field.ev-field-size-full { width: 100%; clear: both; }
.ev-field.ev-field-size-large, .ev-field.ev-field-size-one-half, .ev-field.ev-field-size-two-fourths { width: 50%; }
@media only screen and (max-width: 782px) { .ev-field.ev-field-size-large, .ev-field.ev-field-size-one-half, .ev-field.ev-field-size-two-fourths { width: 100%; } }
.ev-field.ev-field-size-medium, .ev-field.ev-field-size-one-third { width: 33.33333%; }
@media only screen and (max-width: 782px) { .ev-field.ev-field-size-medium, .ev-field.ev-field-size-one-third { width: 100%; } }
.ev-field.ev-field-size-two-thirds { width: 66.66667%; }
@media only screen and (max-width: 960px) { .ev-field.ev-field-size-two-thirds { width: 50%; } }
@media only screen and (max-width: 782px) { .ev-field.ev-field-size-two-thirds { width: 100%; } }
.ev-field.ev-field-size-small, .ev-field.ev-field-size-one-fourth { width: 25%; }
@media only screen and (max-width: 960px) { .ev-field.ev-field-size-small, .ev-field.ev-field-size-one-fourth { width: 50%; } }
@media only screen and (max-width: 782px) { .ev-field.ev-field-size-small, .ev-field.ev-field-size-one-fourth { width: 100%; } }
.ev-field.ev-field-size-three-fourths { width: 75%; }
@media only screen and (max-width: 960px) { .ev-field.ev-field-size-three-fourths { width: 50%; } }
@media only screen and (max-width: 782px) { .ev-field.ev-field-size-three-fourths { width: 100%; } }
.ev-field.ev-field-break { float: none; clear: both; }
.ev-field .ev-field-inner:after { content: ""; display: table; clear: both; }
.ev-field .ev-field-inner p { margin: 0; }

.ev-field-header { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.ev-field-header .ev-label { font-weight: bold; font-size: 14px; float: left; color: #222; cursor: default; }
.ev-field-header.ev-field-header-label-inline, .ev-field-header.ev-field-header-label-inline-hidden { display: inline-block; float: left; margin-top: 4px; width: 30%; max-width: 220px; }
@media only screen and (max-width: 782px) { .ev-field-header.ev-field-header-label-inline, .ev-field-header.ev-field-header-label-inline-hidden { width: 100%; max-width: auto; margin-top: 0; } }
.ev-field-header.ev-field-header-label-inline + .ev-container, .ev-field-header.ev-field-header-label-inline-hidden + .ev-container { display: inline-block; width: 70%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 20px; }
@media only screen and (max-width: 782px) { .ev-field-header.ev-field-header-label-inline + .ev-container, .ev-field-header.ev-field-header-label-inline-hidden + .ev-container { width: 100%; padding-left: 0; padding-top: 12px; } }
.ev-field-header.ev-field-header-label-inline-hidden { margin-top: 0; min-height: 1px; }
.ev-field-header.ev-field-header-label-block { width: 100%; margin-bottom: 12px; }
.ev-field-header.ev-field-header-label-block:after { content: ""; display: table; clear: both; }
.ev-field-header.ev-field-header-label-block .ev-label { display: block; }
.ev-field-header.ev-field-header-label-inline-hidden .ev-label, .ev-field-header.ev-field-header-label-hidden .ev-label { display: none; }

.ev-help.ev-help-tooltip, .ev-help.ev-help-popup { display: inline-block; }
.ev-help .ev-help-handle { display: inline-block; margin-left: 10px; }
.ev-help .ev-help-handle:before { font-family: "dashicons"; font-weight: 400; font-size: inherit; line-height: 1; text-rendering: auto; text-transform: none; text-indent: 0; display: block; speak: none; text-align: center; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; display: block; float: left; font-size: 20px; margin-top: -2px; color: #e0e0e0; }
.ev-help .ev-help-handle:hover:before { color: #0074a2; }
.ev-help .ev-help-handle span { display: none; }
.ev-help.ev-help-inline { display: block; clear: both; padding-top: 6px; }
.ev-help.ev-help-inline strong, .ev-help.ev-help-inline b { color: #222; }
