@-webkit-keyframes spinner { 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); } }
@-moz-keyframes spinner { 0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); } }
@-o-keyframes spinner { 0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); } }
@-ms-keyframes spinner { 0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); } }
@keyframes spinner { 0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } }
@media only screen and (max-width: 782px) { .ev-field-color .minicolors-swatch { top: 5px; height: 26px; } }
.ev-color-input-wrapper { display: inline-block; }
.ev-color-input-wrapper + .ev-color-input-wrapper { margin-left: 20px; }
.ev-color-input-wrapper .ev-sub-label { display: block; }

[data-color-presets] { display: none; }
.ev-has-color-presets [data-color-presets] { display: inline-block; }

.ev-color-user-presets, .ev-color-default-presets { margin-bottom: 24px; }
.ev-color-user-presets:after, .ev-color-default-presets:after { content: ""; display: table; clear: both; }

.ev-color-preset { display: block; float: left; width: 48px; height: 48px; cursor: pointer; }
.ev-color-preset.ev-selected { -khtml-opacity: 0.2; -moz-opacity: 0.2; opacity: 0.2; filter: alpha(opacity=20); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; }
