.ev-field .ev-sub-label { font-style: italic; font-size: 12px; color: #999; }

.ev-field input[type="text"], .ev-field input[type="number"], .ev-field textarea { max-width: 100%; }
@media only screen and (max-width: 782px) { .ev-field input[type="text"], .ev-field input[type="number"], .ev-field textarea { width: 100%; } }
.ev-field .ev-field-input-size-full { width: 100%; }
.ev-field select { max-width: 100%; }
.ev-field input[type=checkbox], .ev-field input[type=radio] { margin-top: 0; }
.ev-field .ev-radio { display: block; }
.ev-field .ev-radio + .ev-radio { margin-top: 6px; }
@media only screen and (max-width: 960px) { .ev-field .ev-radio + .ev-radio { margin-top: 12px; } }
.ev-field .ev-radio.ev-graphic-radio { float: left; }
.ev-field .ev-radio.ev-graphic-radio img { display: block; padding: 4px; }
.ev-field .ev-radio.ev-graphic-radio input { display: none; }
.ev-field .ev-radio.ev-graphic-radio input:checked + img { border: 3px solid #2ea2cc; padding: 1px; box-shadow: inset 0px 0px 0px 1px #fff; }
.ev-field .ev-radio.ev-graphic-radio + .ev-graphic-radio { margin-left: 10px; margin-top: 0; }
.ev-field .ev-sub-label { padding-bottom: 4px; }
