// -----------------------------------------------------------------------------
// $Config
// -----------------------------------------------------------------------------

// Dimensions

$baseline       : 24px;
$gutter         : 20px;
$radius         : 2px;
$transition_time: .1s;

// Icons

$icons: "dashicons";

// Colors

$white          : #fff;
$text           : #222;
$text_light     : #999;
$red            : #f76d5e;
$green          : #76ba5f;
$blue_dark      : #0074a2;
$blue_medium    : #2ea2cc;
$blue_light     : #f7fcfe;
$blue_light_text: #314e59;
$border_color   : #e5e5e5;
$grey_light     : #e0e0e0;
$grey_light_1   : #f1f1f1;
$grey_light_2   : #f7f7f7;
$yellow_light   : #fff6bf;
$yellow_text    : #595643;

// WordPress admin media queries

$media_tablet      : "only screen and (max-width: 960px)";
$media_mobile      : "only screen and (max-width: 782px)";
$media_mobile_small: "only screen and (max-width: 600px)";

// Resources

$handle_img: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4zwABjDACQwCqAEkZsggAb94CBcYDBvUAAAAASUVORK5CYII=";