@import "libs";

// -----------------------------------------------------------------------------
// $Fields input styles
// -----------------------------------------------------------------------------

.ev-field {

	input[type="text"],
	input[type="number"],
	textarea {
		max-width: 100%;

		@include ev_media( $media_mobile ) {
			width: 100%;
		}
	}

	.ev-field-input-size-full {
		width: 100%;
	}

	select {
		max-width: 100%;
	}

	input[type=checkbox],
	input[type=radio] {
		margin-top: 0;
	}

	// Radio
	.ev-radio {
		display: block;

		+ .ev-radio {
			margin-top: $baseline/4;

			@include ev_media( $media_tablet ) {
				margin-top: $baseline/2;
			}
		}

		&.ev-graphic-radio {
			float: left;

			img {
				display: block;
				padding: 4px;
			}

			input {
				display: none;

				&:checked + img {
					border: 3px solid $blue_medium;
					padding: 1px;
					@include box-shadow( inset 0px 0px 0px 1px $white );
				}
			}

			& + .ev-graphic-radio {
				margin-left: $gutter/2;
				margin-top: 0;
			}
		}
	}

	.ev-sub-label {
		@extend %label;
		padding-bottom: $baseline/6;
	}
}

// -----------------------------------------------------------------------------
// $Color field
// -----------------------------------------------------------------------------

.ev-color-palette {
	margin: 0;
	padding: 0;
	@include clearfix;

	.ev-color-palette-variant {
		cursor: pointer;
		width: $gutter*1.5;
		height: $gutter*1.5;
		margin-right: $gutter/4;
		margin-bottom: $gutter/4;
		display: inline-block;
		float: left;
		border: 3px solid $border_color;
		@include box-shadow( inset 0px 0px 0px 1px $white );

		&.ev-selected {
			border-color: $blue_medium;
		}
	}
}

@include ev_media( $media_mobile ) {
	.ev-field-color {
		.minicolors-swatch {
			top: 5px;
			height: 26px;
		}
	}
}

.ev-color-input-wrapper {
	display: inline-block;

	+ .ev-color-input-wrapper {
		margin-left: $gutter;
	}

	.ev-sub-label {
		display: block;
	}
}

// -----------------------------------------------------------------------------
// $Attachment upload
// -----------------------------------------------------------------------------

$attachment_upload_size: $gutter*2;
$attachment_generic    : "\f498";
$attachment_zip        : "\f501";
$attachment_image      : "\f128";
$attachment_audio      : "\f500";
$attachment_video      : "\f490";
$attachment_text       : "\f491";
$attachment_doc        : "\f497";
$attachment_interactive: "\f496";
$attachment_code       : "\f499";
$attachment_spreadsheet: "\f495";

.ev-attachment-upload-action {
	.ev-edit-action {
		display: none;
	}

	.ev-remove-all-action {
		display: none;
	}
}

.ev-attachment-uploaded .ev-attachment-upload-action {
	.ev-edit-action {
		display: inline;
	}

	.ev-remove-all-action {
		display: inline;
		margin-left: $gutter/2;
	}

	.ev-upload-action {
		display: none;
	}
}

.ev-attachment-placeholder {
	position: relative;
	margin-bottom: $baseline/2;
	border: 1px solid $border_color;
	padding: $baseline/2 ($gutter/2 + 18) $baseline/2 $gutter/2;
	background-color: $white;
	min-height: 42px + $baseline;
	@include box-sizing( border-box );

	&:hover {
		border: 1px solid $blue_medium;

		&:before,
		&:after {
			content: "";
			display: block;
			@include position( absolute, -1px null -1px null );
			width: 1px;
			background-color: $blue_medium;
		}

		&:before {
			left: 0;
		}

		&:after {
			right: 0;
		}
	}

	.ev-attachment-upload-container.ui-sortable & {
		cursor: move;

		.ev-sortable-handle {
			@include ev_handle;
			width: $gutter;
			@include position( absolute, 0 null 0 0 );

			&:before {
				@include position( absolute, 50% null null 50% );
				margin-left: -3px;
				margin-top: -7px;
			}
		}

		&:hover {
			.ev-sortable-handle {
				visibility: visible;
			}
		}
	}

	&.ui-sortable-placeholder {
		background-color: $grey_light_2;
		visibility: visible !important;
	}

	.ev-upload-remove {
		cursor: pointer;

		&:before {
			@extend %remove_icon;
			background-color: $white;
			border-radius: 50%;
			margin-top: -9px;
			@include position( absolute, 50% $gutter/2 null null );
		}

		&:hover:before {
			color: darken( $red, 20 );
		}
	}

	&:hover .ev-upload-remove:before {
		@include opacity( 100 );
	}

	.ev-attachment-details {
		.ev-attachment-title {
			font-weight: bold;
			font-size: 14px;
		}

		.ev-attachment-extension {
			display: block;
			font-style: italic;
			color: $text_light;
			margin-top: $baseline/4;

			&:hover {
				color: $blue_dark;
			}

			&:focus {
				@include box-shadow( none );
			}
		}
	}

	.ev-attachment-placeholder-icon {
		@include size( $attachment_upload_size );
		float: left;
		position: relative;
		display: block;
		margin-right: $gutter;
		border-right: 1px solid $border_color;
		padding-right: $gutter/2;

		&:before {
			color: $text_light;
			@include size( $attachment_upload_size );
			@include icon( $attachment_generic );
			float: left;
			line-height: $attachment_upload_size;
			font-size: 32px;
		}
	}

	&[class*="video"] {
		.ev-attachment-placeholder-icon:before {
			content: $attachment_video;
		}
	}

	&[class*="image"] {
		.ev-attachment-placeholder-icon:before {
			content: $attachment_image;
			font-size: 22px;
		}
	}

	&[class*="audio"] {
		.ev-attachment-placeholder-icon:before {
			content: $attachment_audio;
		}
	}

	&[class*="zip"] {
		.ev-attachment-placeholder-icon:before {
			content: $attachment_zip;
		}
	}

	&[class*="txt"],
	&[class*="text-plain"] {
		.ev-attachment-placeholder-icon:before {
			content: $attachment_text;
		}
	}

	&[class*="pdf"] {
		.ev-attachment-placeholder-icon:before {
			content: $attachment_doc;
		}
	}

	&[class*="html"] {
		.ev-attachment-placeholder-icon:before {
			content: $attachment_code;
		}
	}

	&[class*="key"],
	&[class*="ppt"],
	&[class*="keynote"],
	&[class*="powerpoint"] {
		.ev-attachment-placeholder-icon:before {
			content: $attachment_interactive;
		}
	}

	&[class*="xls"],
	&[class*="excel"] {
		.ev-attachment-placeholder-icon:before {
			content: $attachment_spreadsheet;
		}
	}
}

// -----------------------------------------------------------------------------
// $Image upload
// -----------------------------------------------------------------------------

$upload_size: 80px;

.ev-image-size-select-container {
	clear: both;
	margin-top: $baseline/2;

	p {
		@extend %label;
		padding-bottom: $baseline/6;
	}
}

.ev-image-upload-container {
	@include clearfix;
	display: inline-block;
	position: relative;
	float: left;

	& + .ev-image-upload-container {
		margin-left: $gutter/2;
	}
}

.ev-image-upload {
	display: inline-block;

	.ev-image-placeholder {
		@include clearfix;
		display: inline-block;
		position: relative;
		background-color: $grey_light_2;
		@include size( $upload_size );
		float: left;
		margin-bottom: $gutter/4;

		&:before {
			@include icon( "\f128" );
			font-size: 22px;
			@include position( absolute, 50% null null 50% );
			@include transform( translate3d( -50%, -50%, 0 ) );
			color: $grey_light;
		}

		&:after {
			content: "";
			display: block;
			@include position( absolute, 0 0 0 0 );
			border: 1px solid $border_color;
		}

		img {
			float: left;
			display: none;
		}
	}

	&[data-multiple] {
		.ev-image-placeholder {
			visibility: hidden;
		}

		.ev-image-placeholder-container {
			position: relative;

			&:before {
				@include icon( "\f161" );
				font-size: 22px;
				line-height: $upload_size;
				@include size( $upload_size );
				text-align: center;
				float: left;
				margin-bottom: $gutter/4;
				color: $grey_light;
			}

			&:after {
				content: "";
				display: block;
				@include size( ($upload_size - 2px) );
				@include position( absolute, 0 null null 0 );
				border: 1px dashed $border_color;
			}
		}

		.ev-remove-all-action {
			display: none;
		}

		&.ev-image-uploaded {
			.ev-remove-all-action {
				display: inline-block;
				margin-left: $gutter;
				color: $red;

				&:hover {
					color: darken( $red, 20 );
				}
			}

			&[data-sortable] {
				.ev-image-placeholder {
					cursor: move;
				}
			}

			.ev-image-placeholder-container {
				&:before, &:after {
					display: none;
				}
			}

			.ev-image-placeholder {
				visibility: visible;
				margin-right: $gutter/4;

				&.ui-sortable-helper {
					@include box-shadow( 0 1px 10px rgba( #000, .1 ) );
				}

				&.ui-sortable-placeholder {
					visibility: visible !important;

					&:after {
						border-color: $grey_light_2;
					}
				}
			}

		}
	}

	.ev-density-label,
	.ev-breakpoint-label {
		@extend %label;
		padding-bottom: $baseline/6;
	}

	+ .ev-image-upload {
		margin-left: $gutter/2;
	}

	.ev-image-upload-action {
		clear: both;
	}

	.ev-edit-action {
		display: none;
	}

	.ev-upload-action {
		display: inline-block;
	}

	&.ev-image-uploaded {
		+ .ev-image-upload-image-size-selection {
			display: block;
			margin-top: $baseline/6;
		}

		.ev-upload-remove {
			cursor: pointer;

			&:before {
				@extend %remove_icon;
				background-color: $white;
				border-radius: 50%;
				@include position( absolute, -3px -3px null null );
			}
		}

		.ev-edit-action {
			display: inline-block;
		}

		.ev-upload-action {
			display: none;
		}

		.ev-image-placeholder {
			@include size( auto );

			&:hover {
				.ev-upload-remove {
					&:before {
						@include opacity( 100 );
					}

					&:hover {
						&:before {
							color: darken( $red, 20 );
						}
					}
				}

				&:after {
					border: 3px solid $blue_medium;
					@include box-shadow( inset 0px 0px 0px 1px $white );
				}
			}

			&:before {
				display: none;
			}

			img {
				display: block;
				max-height: $upload_size;
				width: auto;
				height: $upload_size;
			}
		}
	}
}

.ev-image-upload-image-size-selection {
	display: none;

	span {
		display: block;
		@extend %label;
		padding-bottom: $baseline/6;
	}
}

// -----------------------------------------------------------------------------
// $Divider
// -----------------------------------------------------------------------------

.ev-field-divider {
	padding-left: $gutter;
	padding-right: $gutter;
	padding-bottom: 0;
	margin-bottom: $baseline/2;

	h3 {
		display: inline-block;
		padding: 0 0 $baseline/4 !important;
		margin-bottom: -1px !important;
		font-size: 14px !important;
	}

	// Section break
	&.ev-divider-style-section_break {
		border-bottom: 1px solid $blue_dark;
		background-color: $blue_dark;

		h3 {
			// background-color: $blue_dark;
			color: $white;
			// border-top-left-radius: $radius;
			// border-top-right-radius: $radius;
			padding: $baseline/4 $baseline/2 !important;
		}
	}

	// In page divider
	&.ev-divider-style-in_page {
		padding-top: $baseline;

		.ev-field-inner {
			border-bottom: 1px solid $blue_dark;
		}

		h3 {
			background-color: $blue_dark;
			color: $white;
			border-top-left-radius: $radius;
			border-top-right-radius: $radius;
			padding: $baseline/4 $baseline/2 !important;
			// border-bottom: 4px solid $blue_dark;
		}
	}
}

// -----------------------------------------------------------------------------
// $Field description
// -----------------------------------------------------------------------------

.ev-field-description {

	// Standard message
	&.ev-description-style-standard {
		.ev-container {}
	}

	// Blue info notice
	&.ev-description-style-info {
		.ev-container {
			padding: $baseline/1.5 $gutter;
			border-radius: $radius;
			background-color: $blue_light;
			color: $blue_light_text;
		}
	}

	// Yellow important message
	&.ev-description-style-important {
		.ev-container {
			padding: $baseline/1.5 $gutter;
			border-radius: $radius;
			background-color: $yellow_light;
			color: $yellow_text;
		}
	}
}

// -----------------------------------------------------------------------------
// $Link
// -----------------------------------------------------------------------------

$link_modal_height: $baseline*2;

.ev-link-ctrl {
	display: inline-block;

	&:before {
		@include icon( "\f103" );
		cursor: pointer;
		display: inline-block;
	}

	&.ev-link-on {
		color: $blue_medium;
	}
}

[data-key="ev-link"] {
	@include align-items(center);
	@include display(flex);
	@include flex-direction(row);
	@include justify-content(center);

	.ev-modal-wrapper {
		@include position( relative, auto auto auto auto );
		// @include position( absolute, 50% null null 50% );
		width: 400px;
		// bottom: auto;
		// height: $link_modal_height;
		// margin-left: -200px;
		// @include transform( translateY( -50% ) );
		// margin-top: -($link_modal_height/2);
		overflow: visible;
		// @include transition( height $transition_time*2 $ease-out-cubic );
	}

	// &.ev-link-modal-expanded .ev-modal-wrapper {
		// @include transform( translateY( -50% ) );
		// height: $link_modal_height*3;
		// margin-top: -($link_modal_height*3/2);
	// }

	.ev-modal-close {
		top: -$baseline*1.5;
		margin-right: 0;
		color: $white;
		padding-top: 0;

		&:hover {
			color: $red;
		}
	}

	.ev-modal {
		border-top: none;

		.ev-modal-footer {
			border-top: none;
			@include position( absolute, 100% 0 0 0 );
			padding: 0;
			border-top: none;
			background-color: transparent;
			margin-top: $baseline;
		}

		input[type="text"] {
			line-height: $baseline*2 - 2;
			padding: 0 $gutter/2;
			@include box-sizing( border-box );
			margin: 0;

			&:focus {
				@include box-shadow( none );
			}
		}
	}
}

.ev-link-url-wrapper {
	position: relative;

	input[type="text"] {
		width: 100%;
	}
}

.ev-link-trigger {
	display: flex;
	align-items: center;
	padding: 0 8px 0 2px;
	cursor: pointer;
	@include position( absolute, 0 0 0 null );

	&:hover {
		span {
			background-color: $grey_light;
		}
	}

	span {
		display: inline-block;
		border: 1px solid $border_color;
		padding: 2px 6px;
		border-radius: $radius;
	}

	.ev-link-modal-expanded & {
		display: none;
	}
}

.ev-link-inner-wrapper {
	display: none;

	.ev-link-modal-expanded & {
		display: block;
	}
}

.ev-link-field-row {
	@include align-items(center);
	@include display(flex);
	@include flex-direction(row);

	.ev-link-radio-wrapper {
		width: 50%;
		float: left;

		+ input[type="text"] {
			float: left;
			width: 50%;
		}
	}

	input[type="text"] {
		width: 100%;
	}
}

.ev-link-radio-wrapper {
	@include box-sizing( border-box );
	padding: $baseline/2 $gutter/2;

	> p {
		margin-top: 0;
		margin-bottom: $baseline/4;
	}
}

.ev-radio-style-switch {

	.ev-radio {
		display: inline-block;
		color: $text_light;
		position: relative;
		padding: $baseline/4 $baseline/3;

		input {
			@include position( absolute, 0 0 0 0 );
			border-radius: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			margin: 0;
			border: none;
			background-color: $border_color;
			@include box-shadow( none );

			&:checked {
				background-color: $green;

				+ span {
					color: $white;
				}

				&:before {
					display: none;
				}
			}

			&:focus {
				border-color: transparent;
				@include box-shadow( none );
			}
		}

		+ .ev-radio {
			margin-top: 0;
			margin-left: 1px;
		}

		span {
			position: relative;
			z-index: 1;
		}

		&:first-of-type input {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}

		&:last-child input {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}
}

// -----------------------------------------------------------------------------
// $Checkbox
// -----------------------------------------------------------------------------

.ev-checkbox-style-switch {
	input[type="checkbox"] {
		border: none;
		@include size( $baseline*2 $baseline );
		border-radius: $baseline/2;
		@include box-shadow( none );
		position: relative;
		background-color: $grey_light;
		@include transition( background-color $transition_time*2 );

		&:after {
			@include size( $baseline - 6 );
			content: "";
			display: block;
			@include position( absolute, 3px null null 3px );
			@include transition( left $transition_time*2 $ease-in-out-quint );
			background-color: $white;
			border-radius: 50%;
		}

		&:focus {
			@include box-shadow( none );
			border-color: $border_color;
		}

		&:checked {
			background-color: $green;

			&:before {
				display: none;
			}

			&:after {
				left: $baseline + 3;
			}
		}
	}
}

// -----------------------------------------------------------------------------
// $Icon picker
// -----------------------------------------------------------------------------

.ev-selected-icon-wrapper {
	position: relative;
	@include size( $baseline*2 );
	border: 1px solid $border_color;
	float: left;
	text-align: center;
	cursor: pointer;

	&:after {
		content: "";
		display: block;
		@include position( absolute, 0 0 0 0 );
	}

	&:hover {
		border-color: $blue_medium;

		&:after {
			border: 1px solid $blue_medium;
		}
	}

	.ev-icon {
		font-size: 24px;
		line-height: $baseline*2;
	}

	&.ev-empty {
		background-color: $grey_light_2;

		&:before {
			content: "";
			display: block;
			@include size( 24px );
			border: 2px dashed $grey_light;
			margin-top: 10px;
			margin-left: 10px;
		}
		.ev-icon-remove {
			display: none;
		}
	}

	.ev-icon-remove {
		cursor: pointer;
		display: block;

		&:before {
			@extend %remove_icon;
			background-color: $white;
			border-radius: 50%;
			@include position( absolute, -3px -3px null null );
		}
	}

	&.ev-empty .ev-icon-remove {
		display: none;
	}

	&:hover {
		.ev-icon-remove {
			&:before {
				@include opacity( 100 );
			}

			&:hover {
				&:before {
					color: darken( $red, 20 );
				}
			}
		}
	}
}

// Icon modal

.ev-icon-sets-external-wrapper.ev-modal-container {
	display: none;
	// @include position( fixed, 60px 15% 60px 15% );
	background: rgba( #000, 0.5 );
    z-index: 100100;

	.ev-icon-sets-inner-wrapper {
		background-color: $white;
		// @include position( absolute, $baseline $baseline $baseline $baseline );
	}

	&.ev-active {
		display: block;
	}

	.ev-close-icon-modal {
		float: right;

		&:before {
			cursor: pointer;
			content: "\f335";
			font-size: $baseline;
			line-height: $baseline*1.5;
			font-weight: 400;
			font-style: normal;
			text-transform: none;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-family: "dashicons";
		}

		&:hover {
			color: $red;
		}
	}
}

.ev-icon-search-wrapper {
	float: left;
	@include box-shadow( inset 0 1px 2px rgba( #000, .07 ) );
	border: 1px solid $border_color;
	width: 50%;
	position: relative;
	z-index: 10;

	input {
		background-color: $white;
		width: 100%;
		line-height: $baseline*1.5 - 2;
		padding: 0 $gutter/2;
		border: none;
		@include box-shadow( none );
		@include transition( none );
		margin: 0;

		&:focus {
			border: none;
			@include box-shadow( none );
		}
	}
}

.ev-icon-search-results {
	@extend %label;
	font-size: 11px;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: $blue_medium;
	color: $white;
	margin: 0;
	padding: 2px 6px;

	&.ev-search-icon-results-visible {
		display: block;
	}
}

$icn: 24;
$icon_size: $icn + ( $baseline/2 * 2 );

.ev-icon-set-select-wrapper {
	position: relative;
	clear: both;
	background-color: $grey_light_2;
	padding: $baseline/2 $baseline;
	float: left;
	width: 100%;
	@include box-sizing( border-box );
	z-index: 1;
}

.ev-icon-sets {
	clear: both;
	@include clearfix;
	@include position( absolute, 60px 0 0 0 );
	overflow-y: auto;

	> div {
		clear: both;
		@include clearfix;
		padding: $baseline;

		> h2 {
			padding-bottom: $baseline/2;
			border-bottom: 1px solid $grey_light;
		}
	}

	i {
		@include box-sizing( border-box );
		float: left;
		padding: $baseline/2;
		font-size: #{$icn}px;
		cursor: pointer;
		line-height: 1;
		@include size( $icon_size );
		margin: 0;
		text-align: center;

		&:hover {
			background-color: $grey_light_1;
		}

		&.ev-selected {
			background-color: $blue_medium;
			color: $white;
		}
	}

	&.ev-searching i {
		display: none;

		&.ev-found {
			display: block;
		}
	}
}