@import "libs";

// -----------------------------------------------------------------------------
// $Fields input styles
// -----------------------------------------------------------------------------

.ev-field {

	input[type="text"],
	input[type="number"],
	textarea {
		max-width: 100%;

		@include ev_media( $media_mobile ) {
			width: 100%;
		}
	}

	.ev-field-input-size-full {
		width: 100%;
	}

	select {
		max-width: 100%;
	}

	input[type=checkbox],
	input[type=radio] {
		margin-top: 0;
	}

	// Radio
	.ev-radio {
		display: block;

		+ .ev-radio {
			margin-top: $baseline/4;

			@include ev_media( $media_tablet ) {
				margin-top: $baseline/2;
			}
		}

		&.ev-graphic-radio {
			float: left;

			img {
				display: block;
				padding: 4px;
			}

			input {
				display: none;

				&:checked + img {
					border: 3px solid $blue_medium;
					padding: 1px;
					@include box-shadow( inset 0px 0px 0px 1px $white );
				}
			}

			& + .ev-graphic-radio {
				margin-left: $gutter/2;
				margin-top: 0;
			}
		}
	}

	.ev-sub-label {
		@extend %label;
		padding-bottom: $baseline/6;
	}
}