@import "libs";

// -----------------------------------------------------------------------------
// $Color field
// -----------------------------------------------------------------------------

@include ev_media( $media_mobile ) {
	.ev-field-color {
		.minicolors-swatch {
			top: 5px;
			height: 26px;
		}
	}
}

.ev-color-input-wrapper {
	display: inline-block;

	+ .ev-color-input-wrapper {
		margin-left: $gutter;
	}

	.ev-sub-label {
		display: block;
	}
}

// -----------------------------------------------------------------------------
// $Color presets
// -----------------------------------------------------------------------------

[data-color-presets] {
	display: none;

	.ev-has-color-presets & {
		display: inline-block;
	}
}

.ev-color-user-presets,
.ev-color-default-presets {
	@include clearfix();
	margin-bottom: $baseline;
}

.ev-color-preset {
	display: block;
	float: left;
	@include size( $baseline*2 );
	cursor: pointer;

	&.ev-selected {
		@include opacity( 20 );
	}
}