@import "libs";

// -----------------------------------------------------------------------------
// $Modal
// -----------------------------------------------------------------------------

body.ev-modal-open {
	overflow: hidden;
}

#ev-modals-container .ev-modal-container:not( :last-child ) {
	@include opacity( 0 );
}

.ev-modal-wrapper {
	top: 60px;
	bottom: 60px;
	left: 15%;
	right: 15%;
	background: $white;
	@include box-sizing( border-box );
	// overflow: hidden;

	@include ev_media( $media_tablet ) {
		left: 5%;
		right: 5%;
	}

	@include ev_media( $media_mobile ) {
		left: 0;
		right: 0;
		top: $admin_bar_mobile;
		bottom: $admin_bar_mobile;
	}

	&.ev-loading {
		&:before {
			@include spinner( 20px, 3px, $grey_6 );
			@include position( absolute, 50% null null 50% );
			margin-left: -10px;
			margin-top: -10px;
		}
	}
}

.ev-modal-header {
	padding: $baseline/2 ($gutter*1.5 + $baseline) $baseline/2 $gutter;
	min-height: $modal_header_height;
	@include box-sizing( border-box );

	h1 {
		font-size: 16px;
		line-height: $baseline;
		margin: 0;
		font-weight: bold;
	}
}

.ev-modal {
	border-top: 1px solid $grey_1;

	> .ev-tabs {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: $modal_footer_height;

		.ev-tabs-nav.ev-vertical {
			overflow-y: auto;
			@include position( absolute, 0 auto 0 0 );
			max-width: none;
			// width: 180px;
			margin-right: 0;

			@include ev-media( $media_mobile_small ) {
				position: relative;
				width: 100%;
			}

			+ .ev-tab-container {
				overflow-y: auto;
				@include position( absolute, 0 0 0 null );

				@include ev-media( $media_mobile_small ) {
					position: relative;
					left: 0;
					width: 100%;
					border: none;
				}
			}
		}
	}
}

.ev-modal-footer {
	@include clearfix;
	@include box-sizing( border-box );
	display: inline-block;
	width: 100%;
	clear: both;
	padding: $baseline/2 $gutter;
	border-top: 1px solid $grey_1;
	@include position( absolute, null 0 0 0 );
	z-index: 1;
	background: #fff;

	.ev-save {
		float: right;
	}
}

.ev-modal-close {
	position: relative;
	font-size: $baseline;
	@include size( $baseline );
	line-height: $baseline;
	padding-top: $baseline/2;
	float: right;
	margin-right: $gutter;
	z-index: 10;
	color: $grey_6;

	&:focus {
		@include box-shadow( none );
	}

	&:hover {
		color: $red;
	}

	i {
		font-style: normal;
	}
}

.ev-modal-back {
	float: left;
}

// -----------------------------------------------------------------------------
// $Modal tabs
// -----------------------------------------------------------------------------

.ev-modal {
	@include vertical_tab_style;

	> .ev-tabs {
		@include position( absolute, ($modal_header_height + 1) 0 $modal_footer_height 0 );
		overflow-y: auto;
		background: $grey_1;

		.ev-tab-container {
			min-height: 100%;
		}
	}

	> .ev-tab-container {
		@include position( absolute, ($modal_header_height + 1) 1px $modal_footer_height 0 );
		overflow-y: auto;
		width: auto;
	}
}

// -----------------------------------------------------------------------------
// $Modal container
// -----------------------------------------------------------------------------

@include ev_modal_reset();

// -----------------------------------------------------------------------------
// $Simple modal
// -----------------------------------------------------------------------------

.ev-modal-container-simple {
	@include align-items(center);
	@include display(flex);
	@include flex-direction(row);
	@include justify-content(center);

	.ev-modal-wrapper {
		@include position( relative, auto auto auto auto );
		border-radius: $radius;
	}

	@include ev_media( $media_mobile ) {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		.ev-modal-wrapper {
			@include position( absolute, $admin_bar_mobile 0 $admin_bar_mobile 0 );
			padding-top: $modal_header_height;
			padding-bottom: $modal_footer_height;
			background-color: $white;
			border-radius: 0;
			width: auto !important;
			height: auto !important;

			.ev-modal-wrapper-inner {
				border-top: 1px solid $grey_1;
				border-bottom: 1px solid $grey_1;
				width: 100% !important;
				height: 100% !important;
				position: relative;
			}
		}
	}

	.ev-modal-close {
		top: -$baseline*1.5;
		margin-right: 0;
		color: $white;
		padding-top: 0;

		@include ev_media( $media_mobile ) {
			color: $grey_6;
			margin-right: $gutter;
			top: $baseline/2;
		}

		&:hover {
			color: $red;
		}
	}

	.ev-modal {
		border-top: none;

		.ev-modal-footer {
			border-top: none;
			@include position( absolute, 100% 0 0 0 );
			padding: 0;
			border-top: none;
			background-color: transparent;
			margin-top: $baseline;

			@include ev_media( $media_mobile ) {
				padding: $baseline/2 $gutter;
				margin-top: 0;
			}
		}

	}
}