@import "libs";

@include ev_icon_reset();

// -----------------------------------------------------------------------------
// $General
// -----------------------------------------------------------------------------

.ev-admin-page {
	@include box-sizing( border-box );
	margin-left: $gutter;
	margin-right: $gutter*2;
	@include clearfix;

	@include ev-media( $media_mobile ) {
		margin-right: 10px;
		margin-left: 0;
	}
}

// -----------------------------------------------------------------------------
// $Vertical layout
// -----------------------------------------------------------------------------

.ev-admin-page.ev-admin-page-group-vertical {
	background-color: $white;
	box-shadow: 2px 1px 10px rgba( $black, .1 );
	border-radius: $radius;
	border: 1px solid $grey_1;
	margin-top: $baseline;
	overflow: hidden;

	.ev-admin-page-heading,
	.ev-admin-page-group-nav {
		margin: 0;
		padding: 0;
		border: none;
		box-sizing: border-box;
	}

		.ev-admin-page-group-nav {
			@include clearfix();

			li {
				display: block;
				clear: both;

				&.ev-active {
					ul {
						display: block;
						border-bottom: 1px solid rgba( $grey_1, .3 );
						background-color: $grey_0;

						a {
							background-color: transparent;
							color: $grey_4;
							font-weight: normal;
						}
					}

					> a:hover {
						background-color: $green;
					}
				}

				&:last-child {
					ul {
						border-bottom: none;
					}
				}

				a {
					border: none !important;

					&:hover {
						background-color: rgba( $grey_1, .2 );
					}
				}

				ul {
					display: none;
					width: 100%;
					padding-right: 0;
				}

				li {
					display: block;

					a {
						padding: $baseline/4 $gutter;
						border-radius: 0;
						font-weight: normal;

						&:hover {
							background-color: rgba( $grey_1, .2 );
						}

						&.ev-active {
							font-weight: bold;
							color: $grey_6;
						}
					}
				}
			}
		}

	.ev-tab-container {
		border: none;
		width: 100% !important;
		float: none !important;
		height: 100%;

		.ev-tab {
			height: 100%;

			> form {
				height: 100%;
				@include display( flex );
				@include flex-direction( column );
				@include justify-content( flex-start );
				padding-bottom: 63px + 1 + 12;
				position: relative;
				box-sizing: border-box;
			}
		}
	}

	.ev-tabs {
		height: 100%;

		.ev-tabs-nav.ev-vertical {
			display: none;
		}
	}

	.ev-admin-page-content-wrapper {
		@include flex-grow( 1 );
		border-left: 1px solid $grey_1;
	}

	.ev-admin-page-side-nav {
		width: 240px;
		min-width: 240px;
		max-width: 240px;
		@include flex-grow( 1 );
	}

	.ev-admin-page-inner-wrapper {
		@include display( flex );
	}

	.ev-form-submit-container {
		@include position( absolute, null 0 0 0 );
		height: 63px;
		margin-top: 0;

		.ev-btn {
			float: right;
		}
	}

	.ev-admin-page-heading {
		padding: $baseline*1.5 $gutter;
		text-align: center;
	}
}

// -----------------------------------------------------------------------------
// $Page heading
// -----------------------------------------------------------------------------

.ev-admin-page-heading {
	padding-bottom: $baseline*2;
	margin: 0 -40px;
	@include box-sizing( border-box );
	padding: $baseline*2 $gutter*2;
	background-color: $white;
	border-bottom: 1px solid $grey_1;
	@include clearfix();

	@include ev_media( $media_mobile ) {
		margin-left: -10px;
		margin-right: -10px;
		padding-left: $gutter;
		padding-right: $gutter;
	}

	h1 {
		line-height: 1;
		font-weight: 300;
		font-size: 2em;
		padding: 0;
		margin: 0;

		span {
			font-weight: bold;
		}

		~ div {
			margin-top: $baseline/2 !important;
		}
	}

	p {
		margin-top: $baseline/3;
		font-style: italic;
	}

	+ div {
		margin-top: $baseline*2;
	}

	+ .ev-admin-page-group-nav {
		margin-top: 0;
	}
}

// -----------------------------------------------------------------------------
// $Horizonal navigation for option page
// -----------------------------------------------------------------------------

.ev-admin-page .ev-admin-page-group-nav {
	margin-bottom: $baseline*2;
	background-color: $white;
	margin-left: -40px;
	margin-right: -40px;
	padding-left: 40px;
	padding-right: 40px;
	border-bottom: 1px solid $grey_1;

	@include ev_media( $media_mobile ) {
		margin-left: -10px;
		margin-right: -10px;
		padding-left: 0;
		padding-right: 0;
	}

	ul {
		font-size: 0.01em;
		margin: 0;

		li {
			display: inline-block;
			list-style: none;
			font-size: 100em;
			margin-bottom: 0;

			&:first-child {
				a {
					border-left: 1px solid $grey_1;
				}
			}

			&.ev-active a {
				font-weight: bold;
				background-color: $green;
				color: $white;
			}
		}

		a {
			display: block;
			position: relative;
			font-size: $main_fsz;
			padding: $baseline/1.5 $gutter;
			text-decoration: none;
			color: $grey_4;
			border-right: 1px solid $grey_1;

			&:focus {
				@include box-shadow( none );
			}

			&:hover {
				background-color: $grey_0;
			}
		}
	}
}

// -----------------------------------------------------------------------------
// $Containers
// -----------------------------------------------------------------------------

.ev-page-container {
	background-color: $white;
	border: 1px solid $grey_1;
	padding: $baseline $gutter;
	@include clearfix();
}

// -----------------------------------------------------------------------------
// $Vertical navigation for option page
// -----------------------------------------------------------------------------

@include ev_tabs_reset();

.ev-admin-page {
	.ev-tabs-nav.ev-vertical {
		width: 20%;
		padding-right: $gutter;
		@include box-sizing( border-box );

		@include ev-media( $media_tablet ) {
			width: 25%;
		}

		@include ev-media( $media_mobile ) {
			width: 100%;
			padding-right: 0;
			margin-bottom: $baseline;
		}

		li {
			margin-bottom: 0;

			a {
				display: block;
				position: relative;
				font-size: 13px;
				padding: $baseline/2 $gutter/1.5;
				text-decoration: none;
				color: $grey_4;
				border-radius: $radius;
				font-weight: bold;
				@include transition( none );

				&:focus {
					@include box-shadow( none );
				}

				&:hover {
					color: $grey_6;
					background-color: rgba( $white, .5 );
				}

				&.ev-active {
					background-color: $green;
					color: $white;
				}
			}
		}

		+ .ev-tab-container {
			@include box-sizing( border-box );
			width: 80%;
			float: left;
			position: relative;

			@include ev-media( $media_tablet ) {
				width: 75%;
			}

			@include ev-media( $media_mobile ) {
				width: 100%;
			}
		}
	}

	.ev-tab-container {
		border: 1px solid $grey_1;
		border-radius: $radius;
	}
}

// -----------------------------------------------------------------------------
// $Vertical navigation for Metabox
// -----------------------------------------------------------------------------

.ev-metabox {
	@include clearfix;
	@include vertical_tab_style;
}

// -----------------------------------------------------------------------------
// $Options tab container
// -----------------------------------------------------------------------------

.ev-tab-container {
	background-color: $white;

	&.ev-tab-container-loaded {
		&:before {
			@include opacity( 0 );
			z-index: -1;
		}
	}

	&:before {
		content: "";
		display: block;
		z-index: 100;
		background: $white;
		@include opacity( 100 );
		@include position( absolute, 0 0 0 0 );
		@include transition( opacity $transition_time, z-index $transition_time );
	}

	.ev-tab {
		@include clearfix;
	}
}

// -----------------------------------------------------------------------------
// $Options tab saving container
// -----------------------------------------------------------------------------

.ev-form-submit-container {
	@include clearfix;
	@include box-sizing( border-box );
	display: inline-block;
	width: 100%;
	clear: both;
	padding: $baseline/2 $gutter;
	margin-top: $baseline/2;
	border-top: 1px solid $grey_1;
}

// -----------------------------------------------------------------------------
// $Native meta boxes
// -----------------------------------------------------------------------------

.ev-native-meta {
	margin-top: $baseline;

	> h3 {
		margin-bottom: $baseline;
	}

	.ev-tabs {
		@include vertical_tab_style;
		background-color: $grey_0;
		border: 1px solid $grey_1;
	}
}

// -----------------------------------------------------------------------------
// $Metabox style
// -----------------------------------------------------------------------------

.ev-metabox {
	background-color: $grey_1;
	margin: -6px -12px -12px;
}

// -----------------------------------------------------------------------------
// $TinyMCE
// -----------------------------------------------------------------------------

.ev-switch-editor {
	float: left;
	@include box-sizing( content-box );
	position: relative;
	top: 1px;
	background: $grey_1;
	color: #777;
	cursor: pointer;
	font: 13px/19px "Open Sans", sans-serif;
	height: 20px;
	margin: 5px 0 0 5px;
	padding: 3px 8px 4px;
	border: 1px solid #E5E5E5;
}