@import "../libs";

// -----------------------------------------------------------------------------
// $Buttons
// -----------------------------------------------------------------------------

.ev-btn {
	position: relative;
	display: inline-block;
	cursor: pointer;
	border: none;
	padding: 0;
	background-color: transparent;

	&:focus {
		outline: none;
	}

	// Sizes -------------------------------------------------------------------

	&.ev-btn-size-small {
		line-height: $baseline;
		font-size: 12px;
	}

	&.ev-btn-size-medium {
		line-height: $baseline*1.5;
		font-size: 13px;
	}

	&.ev-btn-size-large {
		line-height: $baseline*2;
		font-size: 14px;
	}

	// Styles ------------------------------------------------------------------

	&.ev-btn-style-text {
		line-height: 1.25;

		&:hover {
			text-decoration: underline;
		}
	}

	&.ev-btn-style-icon {
		i {
			&:before {
				display: inline-block;
				content: attr(data-icon);
				line-height: 1;
				font-size: inherit;
				font-weight: 400;
				font-style: normal;
				text-transform: none;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				text-align: center;
			}
		}
	}

	&.ev-btn-style-round {
		border-radius: 50%;
	}

	&.ev-btn-style-button,
	&.ev-btn-style-round {
		color: $white;
		border: 1px solid;
		font-weight: bold;

		&:hover {
			@include box-shadow( #{$ui_el_shadow_hover} );
		}

		&:active {
			@include box-shadow( #{$ui_el_shadow} );
			color: rgba( $grey_6, .3 );
		}
	}

	&.ev-btn-style-button {
		padding: 0 $gutter;
		border-radius: $radius;

		&.ev-btn-size-small {
			padding: 0 $gutter/2;
		}
	}

	// Types -------------------------------------------------------------------

	&.ev-btn-type-action {
		&.ev-btn-style-round,
		&.ev-btn-style-button {
			background-color: $blue_0;
			border-color: $blue_0;
		}

		&.ev-btn-style-text {
			color: $blue_0;
		}
	}

	&.ev-btn-type-confirm {
		&.ev-btn-style-round,
		&.ev-btn-style-button {
			background-color: $blue;
			border-color: $blue;
		}

		&.ev-btn-style-text {
			color: $blue;
		}
	}

	&.ev-btn-type-delete {
		&.ev-btn-style-round,
		&.ev-btn-style-button {
			background-color: $red;
			border-color: $red;
		}

		&.ev-btn-style-text {
			color: $red;
		}
	}

	&.ev-btn-type-save {
		&.ev-btn-style-round,
		&.ev-btn-style-button {
			background-color: $green;
			border-color: $green;
			@include transition( padding $transition_time*2 $ease-out-back );

			&:before {
				@include position( absolute, 50% $gutter/2 null null ); //TODO:
				@include spinner( 12px, 2px, $white ); //TODO:
				@include opacity( 0 );
				visibility: hidden;
				@include transition( visibility $transition_time*1.5, opacity $transition_time*1.5 ease );
			}

			// ( 'notice', 'warning', 'success', 'error' ) // TODO: gestire ritorno

			&:after {
				content: "\f147";
				font-family: $icons;
				color: $green;
				line-height: $baseline/2;
				border-radius: 50%;
				background-color: $white;
				@include position( absolute, 50% $gutter/2 null null ); //TODO:
				@include size( $baseline/2 );
				margin-top: -$baseline/4;
				@include opacity( 0 );
				visibility: hidden;
				@include transition( visibility $transition_time*1.5, opacity $transition_time*1.5 ease );
			}

			&.ev-btn-idle {
				padding-right: $gutter + 16px + $gutter/2; //TODO:

				&:before {
					@include opacity( 100 );
					visibility: visible;
				}
			}

			&.ev-btn-complete {
				padding-right: $gutter + 16px + $gutter/2; //TODO:

				&:after {
					@include opacity( 100 );
					visibility: visible;
				}
			}
		}

		&.ev-btn-style-text {
			color: $green;
		}
	}

}

// -----------------------------------------------------------------------------
// $Spinner animation
// -----------------------------------------------------------------------------

@-webkit-keyframes spinner {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spinner {
	0%   { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); }
}
@-o-keyframes spinner {
	0%   { -o-transform: rotate(0deg); }
	100% { -o-transform: rotate(360deg); }
}
@-ms-keyframes spinner {
	0%   { -ms-transform: rotate(0deg); }
	100% { -ms-transform: rotate(360deg); }
}
@keyframes spinner {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}