@import "../libs";

// Mixins ----------------------------------------------------------------------

@mixin btn_idle( $size, $color: $white ) {
	&:before {
		@include position( absolute, 50% null null null );
		@include spinner( $size, 2px, $color );
		@include opacity( 0 );
		visibility: hidden;
		@include transition( opacity $transition_time*1.5 );
	}

	&.ev-btn-idle {
		&:before {
			@include opacity( 100 );
			visibility: visible;
		}
	}
}

@mixin complete_icon( $size ) {
	&:after {
		font-family: $fontello;
		@include opacity( 0 );
		visibility: hidden;
		@include position( absolute, 50% null null null );
		font-size: $size;
		line-height: $size;
		@include size( $size );
		margin-top: -$size/2;
		margin-left: -$size/2;
	}

	&.ev-btn-complete {
		&:after {
			@include opacity( 100 );
			visibility: visible;
		}
	}
}

@mixin message_icon() {
	$success_icon : "\e800";
	$error_icon   : "\e801";
	$notice_icon  : "\e802";
	$warning_icon : "\e803";

	$success_color: $green;
	$error_color  : $red;
	$notice_color : $blue;
	$warning_color: yellow;

	&.ev-btn-complete {
		// Success -------------------------------------------------------------
		&.ev-btn-success {
			&:after {
				content: $success_icon;
			}
		}
		// Error ---------------------------------------------------------------
		&.ev-btn-error {
			&:after {
				content: $error_icon;
			}
		}
		// Notice --------------------------------------------------------------
		&.ev-btn-notice {
			&:after {
				content: $notice_icon;
			}
		}
		// Warning -------------------------------------------------------------
		&.ev-btn-warning {
			&:after {
				content: $warning_icon;
			}
		}

		// ---------------------------------------------------------------------
		// Styles --------------------------------------------------------------
		// ---------------------------------------------------------------------
		&.ev-btn-style-round,
		&.ev-btn-style-button {
			&:after {
				color: $white;
			}
		}

		&.ev-btn-style-text {
			// Success ---------------------------------------------------------
			&.ev-btn-success {
				&:after {
					color: $success_color;
				}
			}
			// Error -----------------------------------------------------------
			&.ev-btn-error {
				&:after {
					color: $error_color;
				}
			}
			// Notice ----------------------------------------------------------
			&.ev-btn-notice {
				&:after {
					color: $notice_color;
				}
			}
			// Warning ---------------------------------------------------------
			&.ev-btn-warning {
				&:after {
					color: $warning_color;
				}
			}
		}
	}

}

// -----------------------------------------------------------------------------
// $Buttons
// -----------------------------------------------------------------------------

.ev-btn {
	position: relative;
	display: inline-block;
	cursor: pointer;
	border: none;
	padding: 0;
	background-color: transparent;
	vertical-align: middle;

	&:focus {
		outline: none;
	}

	// Icon --------------------------------------------------------------------

	i {
		// display: inline-block;
		float: left;

		&:before {
			position: relative;
			// display: inline-block;
			font-size: inherit;
			font-weight: 400;
			font-style: normal;
			text-transform: none;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-align: center;
			float: left;
			// bottom: -1px;
		}

		+ span {
			margin-left: $gutter/2;
		}
	}

// -----------------------------------------------------------------------------
// $Sizes
// -----------------------------------------------------------------------------

	&.ev-btn-size-small {
		line-height: $baseline;
		font-size: 12px;

		i {
			font-size: 14px;
		}

		&.ev-btn-style-round i {
			@include size( $baseline );

			&:before {
				@include size( $baseline );
				line-height: $baseline;
			}
		}

		&.ev-btn-type-confirm,
		&.ev-btn-type-save {
			@include btn_idle( 8px );
			@include complete_icon( 14px );
			@include message_icon();
		}
	}

	&.ev-btn-size-medium {
		line-height: $baseline*1.5;
		font-size: 13px;

		i {
			font-size: 16px;
		}

		&.ev-btn-style-round i {
			@include size( $baseline*1.5 );

			&:before {
				@include size( $baseline*1.5 );
				line-height: $baseline*1.5;
			}
		}

		&.ev-btn-type-confirm,
		&.ev-btn-type-save {
			@include btn_idle( 10px );
			@include complete_icon( 18px );
			@include message_icon();
		}
	}

	&.ev-btn-size-large {
		line-height: $baseline*2;
		font-size: 14px;

		i {
			font-size: 18px;
		}

		&.ev-btn-style-round i {
			@include size( $baseline*2 );

			&:before {
				@include size( $baseline*2 );
				line-height: $baseline*2;
			}
		}

		&.ev-btn-type-confirm,
		&.ev-btn-type-save {
			@include btn_idle( 12px );
			@include complete_icon( 22px );
			@include message_icon();
		}
	}

// -----------------------------------------------------------------------------
// $Styles
// -----------------------------------------------------------------------------

	&.ev-btn-style-text {
		line-height: 1.25;

		&:hover {
			text-decoration: underline;
		}

		&.ev-btn-type-confirm {
			&:before {
				border-top-color: $blue;
				border-left-color: $blue;
			}
		}
		&.ev-btn-type-save {
			&:before {
				border-top-color: $green;
				border-left-color: $green;
			}
		}

		&.ev-btn-size-small i {
			line-height: 12px * 1.25;
		}

		&.ev-btn-size-medium i {
			line-height: 13px * 1.25;
		}

		&.ev-btn-size-large i {
			line-height: 14px * 1.25;
		}

		&.ev-btn-type-confirm,
		&.ev-btn-type-save {
			&:after,
			&:before {
				right: 0;
			}

			&.ev-btn-idle {
				&.ev-btn-size-small {
					padding-right: $gutter/2 + 8px + 4;
				}

				&.ev-btn-size-medium {
					padding-right: $gutter/2 + 10px + 4;
				}

				&.ev-btn-size-large {
					padding-right: $gutter/2 + 12px + 4;
				}
			}

			&.ev-btn-success {
				&.ev-btn-size-small {
					padding-right: $gutter/2 + 14px;
				}

				&.ev-btn-size-medium {
					padding-right: $gutter/2 + 18px;
				}

				&.ev-btn-size-large {
					padding-right: $gutter/2 + 22px;
				}
			}
		}
	}

	&.ev-btn-style-button,
	&.ev-btn-style-round {
		color: $white;
		border: 1px solid;
		font-weight: bold;

		&:hover {
			@include box-shadow( #{$ui_el_shadow_hover} );
		}

		&:active {
			@include box-shadow( #{$ui_el_shadow} );
			color: rgba( $grey_6, .3 );
		}

		&.ev-btn-idle,
		&.ev-btn-success {
			&:before,
			&:after {
				@include transition( visibility $transition_time*1.5, opacity $transition_time*1.5 ease );
			}
		}
	}

	&.ev-btn-style-round {
		border-radius: 50%;

		i {
			float: left;
		}

		&.ev-btn-type-confirm,
		&.ev-btn-type-save {
			&:after,
			&:before {
				left: 50%;
			}

			i {
				@include transition( visibility $transition_time*1.5, opacity $transition_time*1.5 ease );
				@include opacity( 100 );
				visibility: visible;
			}

			&.ev-btn-success,
			&.ev-btn-idle {
				i {
					@include opacity( 0 );
					visibility: hidden;
				}
			}
		}
	}

	&.ev-btn-style-button {
		border-radius: $radius;

		&.ev-btn-type-confirm,
		&.ev-btn-type-save {
			@include transition( padding $transition_time*2 $ease-out-back );
		}

		&.ev-btn-size-small {
			padding: 0 $gutter/2;

			&.ev-btn-with-icon {
				padding-left: $gutter/4;
			}

			&.ev-btn-type-confirm,
			&.ev-btn-type-save {
				&:after,
				&:before {
					right: $gutter/2;
				}

				&.ev-btn-idle {
					padding-right: $gutter + 8px + 4;
				}

				&.ev-btn-success,
				&.ev-btn-error,
				&.ev-btn-notice,
				&.ev-btn-warning {
					padding-right: $gutter + 12px;
				}
			}
		}

		&.ev-btn-size-medium {
			padding: 0 $gutter;

			&.ev-btn-with-icon {
				padding-left: $gutter/2;
				padding-right: $gutter/2 * 1.5;
			}

			&.ev-btn-type-confirm,
			&.ev-btn-type-save {
				&:after,
				&:before {
					right: $gutter/2;
				}

				&.ev-btn-idle {
					padding-right: $gutter + 10px + 4;
				}

				&.ev-btn-success,
				&.ev-btn-error,
				&.ev-btn-notice,
				&.ev-btn-warning {
					padding-right: $gutter + 18px;
				}
			}
		}

		&.ev-btn-size-large {
			padding: 0 $gutter*1.5;

			&.ev-btn-with-icon {
				padding-left: $gutter*1.5 / 2;
				padding-right: $gutter;
			}

			&.ev-btn-type-confirm,
			&.ev-btn-type-save {
				&:after,
				&:before {
					right: $gutter*1.5 / 2;
				}

				&.ev-btn-idle {
					padding-right: ($gutter*1.5 / 2)*2 + 12px + 4;
				}

				&.ev-btn-success,
				&.ev-btn-error,
				&.ev-btn-notice,
				&.ev-btn-warning {
					padding-right: ($gutter*1.5 / 2)*2 + 22px;
				}
			}
		}
	}

// -----------------------------------------------------------------------------
// $Types
// -----------------------------------------------------------------------------

	// Action ------------------------------------------------------------------
	&.ev-btn-type-action {
		&.ev-btn-style-round,
		&.ev-btn-style-button {
			background-color: $blue;
			border-color: $blue;

			// &:hover {
			// 	background-color: $blue;
			// 	border-color: $blue;
			// }
		}

		&.ev-btn-style-text {
			color: $blue;

			// &:hover {
			// 	color: $blue;
			// }
		}
	}

	// Confirm -----------------------------------------------------------------
	&.ev-btn-type-confirm {
		&.ev-btn-style-round,
		&.ev-btn-style-button {
			background-color: $green;
			border-color: $green;
		}

		&.ev-btn-style-text {
			color: $green;
		}
	}

	// Delete ------------------------------------------------------------------
	&.ev-btn-type-delete {
		&.ev-btn-style-round,
		&.ev-btn-style-button {
			background-color: $red;
			border-color: $red;
		}

		&.ev-btn-style-text {
			color: $red;
		}
	}

	// Save --------------------------------------------------------------------
	&.ev-btn-type-save {
		&.ev-btn-style-round,
		&.ev-btn-style-button {
			background-color: $green;
			border-color: $green;
		}

		&.ev-btn-style-text {
			color: $green;
		}
	}
}

// -----------------------------------------------------------------------------
// $Spinner animation
// -----------------------------------------------------------------------------

@include keyframes( spinner ) {
	0% {
		@include transform( rotate(0deg) );
	}
	100% {
		@include transform( rotate(360deg) );
	}
}