@import "../libs";

// -----------------------------------------------------------------------------
// $Checkbox
// -----------------------------------------------------------------------------

.ev-checkbox-style-switch {
	input[type="checkbox"] {
		border: none;
		@include size( $baseline*2 $baseline );
		border-radius: $baseline/2;
		@include box-shadow( none );
		position: relative;
		background-color: $grey_light;
		@include transition( background-color $transition_time*2 );

		&:after {
			@include size( $baseline - 6 );
			content: "";
			display: block;
			@include position( absolute, 3px null null 3px );
			@include transition( left $transition_time*2 $ease-in-out-quint );
			background-color: $white;
			border-radius: 50%;
		}

		&:focus {
			@include box-shadow( none );
			border-color: $border_color;
		}

		&:checked {
			background-color: $green;

			&:before {
				display: none;
			}

			&:after {
				left: $baseline + 3;
			}
		}
	}
}