@import "../libs";

// -----------------------------------------------------------------------------
// $Icon picker
// -----------------------------------------------------------------------------

.ev-selected-icon-wrapper {
	position: relative;
	@include size( $baseline*1.5 );
	float: left;
	text-align: center;
	cursor: pointer;
	@include ui_input_standard;
	border-radius: $radius;

	&:hover {
		@include ui_input_hover;
	}

	.ev-icon {
		font-size: 24px;
		line-height: $baseline*1.5;
	}

	&.ev-empty {
		background-color: $grey_0;

		&:before {
			content: "";
			display: block;
			@include size( $baseline );
			border: 2px dashed $grey_3;
			margin-top: $baseline/4 - 2;
			margin-left: $baseline/4 - 2;
		}

		&:hover {
			&:before {
				border-color: $grey_3;
			}
		}

		.ev-icon-remove {
			display: none;
		}
	}

	.ev-icon-remove {
		text-decoration: none;
		display: none;
		@include position( absolute, -4px -4px null null );
		z-index: 10;

		&:before {
			cursor: pointer;
			color: $grey_5;
			@include icon( "\f153" );
			@include size( 16px );
			font-size: 16px;
			line-height: 16px;
			background-color: $white;
			border-radius: 50%;
		}

		&:hover:before {
			color: $red;
		}
	}

	&:hover:not( .ev-empty ) {
		.ev-icon-remove {
			display: block;
		}
	}
}

// Icon modal

// .ev-modal-container[data-key="ev-icon"] {
// 	.ev-modal-wrapper {
// 		width: 700px;
// 		height: 600px;
// 	}
// }

.ev-icon-sets-controls-external-wrapper {
	@include position( absolute, ( $modal_header_height + 1px ) null ( $modal_footer_height + 1 ) 0 );
	// @include position( absolute, ( $modal_header_height + $baseline*4 + 1px ) null ( $modal_footer_height + 1 ) 0 );
	width: 300px;

	@include ev_media( $media_mobile ) {
		width: 50%;
	}
}

.ev-icon-sets-controls-wrapper {
	padding: $baseline $gutter;
}

.ev-icon-sets-preview-wrapper {
	border-top: 1px solid $grey_1;
	height: 150px;
	width: 100%;
	@include position( absolute, null 0 0 0 );
	text-align: center;
	overflow: hidden;

	.ev-selected-icon-preview {
		line-height: 150px;
		@include size( 100% );
		display: block;
		text-align: center;
	}
}

.ev-icon-sets-preview-label {
	text-transform: uppercase;
	color: $grey_4;
	@include position( absolute, $baseline/2 null null $gutter/2 );
	font-size: 12px;
}

.ev-icon-sets-inner-wrapper {
	@include position( absolute, ( $modal_header_height + $baseline*4 + 1px ) 0 ( $modal_footer_height + 1 ) 300px );
	@include box-shadow( -1px 0 0 $grey_1 );

	@include ev_media( $media_mobile ) {
		left: 50%;
	}

	> h2 {
		padding: 0 $baseline;
		line-height: $modal_header_height;
		margin: 0;
		color: $grey_4;
		border-bottom: 1px solid $grey_1;
	}
}

.ev-icon-sets-controls-field-wrapper {

	+ * {
		margin-top: $baseline;
	}

	label {
		font-weight: bold;
		font-size: 14px;
		color: $grey_6;
		cursor: default;
		display: block;
		margin-bottom: $baseline/4;
	}
}

.ev .ev-icon-search-wrapper {
	padding: $baseline $gutter;
	height: $baseline*4;
	@include box-sizing( border-box );
	background-color: $grey_0;
	position: relative;
	margin-left: 300px;
	@include box-shadow( -1px 0 0 $grey_1 );

	@include ev_media( $media_mobile ) {
		margin-left: 50%;
	}

	input[type="text"] {
		display: block;
		width: 100%;
		@include box-sizing( border-box );
		line-height: $baseline;
		padding: $baseline/2 $gutter/2;

		&:focus {
			border-color: $grey_1;
			outline: none;
			box-shadow: none;
		}
	}

	// height: $modal_header_height;
	// position: relative;

	// input[type="text"] {
	// 	background-color: transparent;
	// 	width: 100%;
	// 	line-height: $modal_header_height - 1px;
	// 	padding: 0 $gutter;
	// 	border: none;
	// 	@include box-shadow( none );
	// 	@include transition( none );
	// 	margin: 0;
	// 	border-bottom: 1px solid $grey_1;
	// 	border-radius: 0;
	// 	font-size: 16px;
	// 	font-weight: bold;

	// 	&:focus {
	// 		border: none;
	// 		border-bottom: 1px solid $grey_3;
	// 		background-color: $white;
	// 		@include box-shadow( none );
	// 	}
	// }
}

.ev-icon-search-results {
	font-size: 11px;
	display: none;
	position: absolute;
	top: 100%;
	left: 10px;
	background-color: $blue;
	color: $white;
	margin: -28px 0 0 20px;
	padding: 2px 6px;

	&.ev-search-icon-results-visible {
		display: block;
	}
}

$icn: 24;
$icon_size: $icn + ( $baseline/2 * 2 );

.ev-icon-set-select-wrapper {
	position: relative;
	clear: both;
	background-color: $grey_2;
	padding: $baseline/2 $baseline;
	float: left;
	width: 100%;
	@include box-sizing( border-box );
	z-index: 1;
}

.ev-icon-sets {
	clear: both;
	@include clearfix;
	@include position( absolute, 0 0 0 0 );
	overflow-y: auto;

	> div {
		clear: both;
		@include clearfix;
		padding: $baseline;

		> h2 {
			padding-bottom: $baseline/2;
			border-bottom: 1px solid $grey_1;
		}
	}

	i {
		@include box-sizing( border-box );
		float: left;
		padding: $baseline/2;
		font-size: #{$icn}px;
		cursor: pointer;
		line-height: 1;
		@include size( $icon_size );
		margin: 0;
		text-align: center;

		&:hover {
			background-color: $grey_2;
		}

		&.ev-selected {
			background-color: $blue;
			color: $white;
		}
	}

	&.ev-searching i {
		display: none;

		&.ev-found {
			display: block;
		}
	}
}