@import "../libs";

// -----------------------------------------------------------------------------
// $General
// -----------------------------------------------------------------------------

.ev {

	input[type="text"],
	input[type="number"],
	input[type="url"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	textarea:not( .ev-rich ) {
		@include ui_input_standard;
		font-size: $main_fsz;
		@include box-shadow( none );
		@include box-sizing( border-box );
		margin: 0;
		line-height: $baseline;
		min-height: $baseline + $baseline/2 + 2;
		padding: $baseline/4 $gutter/2;
		border-radius: $radius;
		@include transition( padding $transition_time*2 ease, background-color $transition_time*2 ease, border-color $transition_time*2 ease );

		&:hover {
			@include ui_input_hover;
		}

		&:focus {
			@include ui_input_focus;
		}
	}

	textarea {
		line-height: 1.5;
	}
}