@import "../libs";

// -----------------------------------------------------------------------------
// $Link text field
// -----------------------------------------------------------------------------

.ev-field-text-link-wrapper {
	position: relative;
	display: inline-block;

	&.ev-field-input-size-full {
		width: 100%;
	}

	input[type="text"] {
		padding-right: 26px + 6;
	}
}

// -----------------------------------------------------------------------------
// $Link button
// -----------------------------------------------------------------------------

[data-icon='evfw-link']:before {
	font-family: $fontello;
	content: "\e804";
}

.ev-link-ctrl {
	position: absolute;
	top: 6px;
	right: 6px;
	display: inline-block;

	.ev-btn.ev-link-ctrl-btn {
		background-color: $blue_0;
		border-color: $blue_0;
		border-radius: $radius;

		&.ev-link-on {
			background-color: $blue;
			border-color: $blue;
		}
	}
}

// -----------------------------------------------------------------------------
// $Link
// -----------------------------------------------------------------------------

.ev-modal-container[data-key="ev-link"] {
	// .ev-modal-wrapper {
	// 	width: 400px;
	// 	overflow: visible;
	// }

	.ev-modal-wrapper {
		max-height: 500px;
	}

	.ev-modal-wrapper-inner {
		padding-top: $modal_header_height + 1;
	}

	.ev-link-ctrls-wrapper {
		@include position( absolute, ($modal_header_height + 1) 0 ($modal_footer_height + 1) 0 );
		overflow-y: auto;
	}
}

.ev-link-url-wrapper {
	padding: $gutter;
	position: relative;

	.selectize-control.single .selectize-input {
		&:before,
		&:after {
			display: none;

			.ev-link-modal-expanded & {
				display: block;
			}
		}
	}
}

.ev-link-inner-wrapper {
	padding: $gutter;
	border-top: 1px solid $grey_1;

	input[type="text"] {
		width: 100%;
	}

	.ev-link-modal-expanded & {
		display: block;
	}
}

.ev-link-radio-wrapper {
	@include box-sizing( border-box );

	> p {
		margin-top: 0;
		display: inline-block;
		margin-right: $gutter;
		color: $grey_4;
		margin-bottom: 0;
		// margin-bottom: $baseline/4;
	}
}

.ev-link-input-wrapper {
	position: relative;
	margin-top: $gutter;

	span {
		@include position( absolute, 10px null null $gutter/2 );
		font-size: $small_fsz;
		line-height: 1;
		color: $grey_4;
		visibility: hidden;
		@include transition( visibility $transition_time*2 ease );
	}

	input[type="text"] {
		@include transition( padding $transition_time*2 ease, background-color $transition_time*2 ease, border-color $transition_time*2 ease );
	}

	&.ev-not-empty {
		span {
			visibility: visible;
		}

		input {
			padding-top: $baseline;
		}
	}
}