@import "../libs";

// -----------------------------------------------------------------------------
// $Link button
// -----------------------------------------------------------------------------

[data-icon='evfw-link']:before {
	font-family: $fontello;
	content: "\e804";
}

.ev-link-ctrl {
	position: relative;
	display: inline-block;
	top: -1px;
	margin-left: $gutter/2;
}

// -----------------------------------------------------------------------------
// $Link
// -----------------------------------------------------------------------------

.ev-modal-container[data-key="ev-link"] {
	.ev-modal-wrapper {
		width: 400px;
		overflow: visible;
	}
}

.ev-link-url-wrapper {
	position: relative;
	padding: $gutter;

	.selectize-control.single .selectize-input {
		&:before,
		&:after {
			display: none;

			.ev-link-modal-expanded & {
				display: block;
			}
		}
	}
}

.ev-link-trigger {
	align-items: center;
	margin-top: $gutter;
	margin-bottom: $gutter;
	padding: 0 8px 0 2px;
	cursor: pointer;
	@include position( absolute, 0 $gutter 0 null );

	&:hover {
		span {
			background-color: $grey_1;
		}
	}

	span {
		display: inline-block;
		border: 1px solid $grey_3;
		padding: 2px 6px;
		border-radius: $radius;
		margin-top: 7px;
	}

	.ev-link-modal-expanded & {
		display: none;
	}
}

.ev-link-inner-wrapper {
	display: none;
	padding: $gutter;
	border-top: 1px solid $grey_1;
	background-color: $grey_0;
	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;

	input[type="text"] {
		width: 100%;
		margin-top: $gutter;
	}

	.ev-link-modal-expanded & {
		display: block;
	}
}

.ev-link-radio-wrapper {
	@include box-sizing( border-box );

	> p {
		margin-top: 0;
		display: inline-block;
		margin-right: $gutter;
		color: $grey_4;
		margin-bottom: 0;
		// margin-bottom: $baseline/4;
	}
}

.ev-link-input-wrapper {
	position: relative;

	span {
		@include position( absolute, 4px null null $gutter/2 );
		font-size: $small_fsz;
		line-height: 1;
		color: $grey_4;
	}

	input {

		&:not([value='']) {
			padding-top: $baseline;
			// padding-top: $baseline/4;
		}
	}
}