@import "../libs";

// -----------------------------------------------------------------------------
// $Radio
// -----------------------------------------------------------------------------

.ev-radio-style-switch {

	.ev-radio {
		display: inline-block;
		color: $text_light;
		position: relative;
		padding: $baseline/4 $baseline/3;

		input {
			@include position( absolute, 0 0 0 0 );
			border-radius: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			margin: 0;
			border: none;
			background-color: $border_color;
			@include box-shadow( none );

			&:checked {
				background-color: $green;

				+ span {
					color: $white;
				}

				&:before {
					display: none;
				}
			}

			&:focus {
				border-color: transparent;
				@include box-shadow( none );
			}
		}

		+ .ev-radio {
			margin-top: 0;
			margin-left: 1px;
		}

		span {
			position: relative;
			z-index: 1;
		}

		&:first-of-type input {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}

		&:last-child input {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}
}