@import "../libs";

// -----------------------------------------------------------------------------
// $Sortable fields
// -----------------------------------------------------------------------------

.ev-repeatable {}

[data-icon='evfw-add']:before {
	font-family: $icons;
	content: "\f132";
	bottom: -1px;
}

// -----------------------------------------------------------------------------
// $Repeatable fields
// -----------------------------------------------------------------------------

.ev-repeatable {

	.ev-container-repeatable-inner-wrapper {
		@include ui_input_standard;
		padding: 0 $baseline/4;
	}

	.ev-bundle-fields-wrapper,
	.ev-field-inner {
		background-color: $white;
		position: relative;
		@include box-sizing( border-box );
	}

// -----------------------------------------------------------------------------
// $Empty state
// -----------------------------------------------------------------------------

	.ev-empty-state {
		display: none;
	}

	// Empty state
	&.ev-no-fields {
		.ev-container-repeatable-inner-wrapper {
			border-style: dashed;

			&:hover {
				border-color: $blue;
			}
		}

		.ev-empty-state {
			display: block;
			text-align: center;

			a {
				padding: $baseline/2 0;
				display: block;

				&:focus {
					@include box-shadow( none );
				}
			}
		}

		.ev-repeat-remove-all {
			display: none;
		}
	}

// -----------------------------------------------------------------------------
// $Remove all
// -----------------------------------------------------------------------------

	.ev-field-header {
		&:not( .ev-field-header-label-hidden ):not( .ev-field-header-label-inline-hidden ) {
			* + .ev-repeat-remove-all {
				margin-top: $baseline/2;
			}
		}

		&.ev-field-header-label-hidden,
		&.ev-field-header-label-inline-hidden {
			margin-bottom: $baseline/2;
		}
	}

// -----------------------------------------------------------------------------
// $Standard field repeatable
// -----------------------------------------------------------------------------

	&:not( .ev-field-bundle ) {
		&:hover {
			.ev-container-repeatable-inner-wrapper {
				> .ev-field-inner {
					border-color: $grey_3;
				}
			}
		}

		.ev-container-repeatable-inner-wrapper {
			> .ev-field-inner {
				margin-top: $baseline/4;
				margin-bottom: $baseline/4;
				border: 1px solid $grey_1;
				border-radius: $radius;
				padding: $baseline $gutter;

				&:hover {
					border-color: $grey_4;
					@include box-shadow( #{$ui_el_shadow_hover} );
					border-top-right-radius: 0;

					> .ev-field-panel-controls-wrapper {
						display: block;

						.ev-field-panel-controls-inner-wrapper {
							border-color: $grey_4;
						}
					}
				}

				.ev-field-panel-controls-wrapper + .ev-repeatable-controls {
					display: block;
					@include position( absolute, (-( (($baseline+2) / 2) + $baseline/8 + 2) ) 0 null 0 );
				}

				&:last-child {
					.ev-repeatable-controls:last-child {
						display: block;
						@include position( absolute, null 0 (-( (($baseline+2) / 2) + $baseline/8 + 2) ) 0 );
					}
				}

				// -------------------------------------------------------------
				// $Sortable helper and placeholder
				// -------------------------------------------------------------
				&.ui-sortable-helper {
					.ev-repeatable-controls {
						display: none !important;
					}

					> .ev-field-panel-controls-wrapper {
						display: block;
					}
				}

				&.ui-sortable-placeholder {
					border-color: $grey_3;
					background-color: $grey_3;
				}
			}
		}
	}

// -----------------------------------------------------------------------------
// $Repeatable controls
// -----------------------------------------------------------------------------

	.ev-repeatable-controls {
		text-align: center;
		display: none;
		@include opacity( 0 );
	}

	&:hover {
		.ev-repeatable-controls {
			@include opacity( 100 );
		}
	}

// -----------------------------------------------------------------------------
// $Bundle field repeatable
// -----------------------------------------------------------------------------

	&.ev-field-bundle {
		.ev-bundle-fields-wrapper {
			margin-top: $baseline/4;
			margin-bottom: $baseline/4;

			.ev-field-panel-controls-wrapper + .ev-repeatable-controls {
				display: block;
				@include position( absolute, (-( (($baseline*1.5 + 2) / 2) + $baseline/8 + 2) ) 0 null 0 );
			}

			&:hover {
				border-color: $grey_4;
				@include box-shadow( #{$ui_el_shadow_hover} );
				border-top-right-radius: 0;

				> .ev-field-panel-controls-wrapper {
					display: block;

					.ev-field-panel-controls-inner-wrapper {
						border-color: $grey_4;
					}
				}
			}

			// -----------------------------------------------------------------
			// $Sortable helper and placeholder
			// -----------------------------------------------------------------
			&.ui-sortable-helper {
				.ev-repeatable-controls {
					display: none !important;
				}

				> .ev-field-panel-controls-wrapper {
					display: block;
				}
			}

			&.ui-sortable-placeholder {
				border-color: $grey_3;
				background-color: $grey_3;
			}
		}

		.ev-container-repeatable-inner-wrapper .ev-bundle-fields-wrapper:last-child {
			.ev-repeatable-controls:last-child {
				display: block;
				@include position( absolute, null 0 (-( (($baseline*1.5 + 2) / 2) + $baseline/8 + 2) ) 0 );
			}
		}
	}

// -----------------------------------------------------------------------------
// $Grid
// -----------------------------------------------------------------------------

	.ev-bundle-fields-wrapper-heading {
		@include clearfix;
		border: 1px solid $blue_1;
		border-radius: $radius;
		background-color: $blue_1;
		color: $white;
		font-weight: bold;
		padding: $baseline/2 $baseline/4;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		+ .ev-container-repeatable-inner-wrapper {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}

// -----------------------------------------------------------------------------

}