@import "../libs";

// -----------------------------------------------------------------------------
// $Select
// -----------------------------------------------------------------------------

.ev-select-wrapper {
	@include ui_input_standard;
	display: inline-block;
	border-radius: $radius;
	position: relative;
	max-width: 100%;
	@include transition( background-color $transition_time*2 ease, border-color $transition_time*2 ease );

	&.ev-select-style-small {
		select {
			font-size: $small_fsz;
			padding-top: 3px;
			padding-bottom: 3px;
			float: left;
			height: $baseline;
		}

		&:after {
			height: $baseline/2;
			margin-top: -$baseline/4;
		}

		&:before {
			border-top-width: 4px;
			border-left-width: 4px;
			border-right-width: 4px;
			margin-top: -2px;
			right: $baseline/2+2;
		}
	}

	&:hover {
		@include ui_input_hover;
		@include box-shadow( none );

		&:before {
			border-top-color: $grey_6;
		}
		&:after {
			border-left-color: $grey_3;
		}
	}

	&:focus {
		@include ui_input_focus;

		&:after {
			border-left-color: $grey_1;
		}
	}

	&:before {
		content: "";
		display: block;
		@include position( absolute, 50% $baseline/2+1 null null );
		@include triangle( 12px, $grey_3, down );
		margin-top: -3px;
		@include transition( border-color $transition_time*2 ease );
	}

	&:after {
		content: "";
		display: block;
		@include position( absolute, 50% $baseline*1.5 null null );
		margin-top: -$baseline/2;
		@include size( 0 $baseline );
		border-left: 1px solid $grey_1;
		@include transition( border-color $transition_time*2 ease );
	}

	select {
		font-size: $main_fsz;
		padding: $baseline/4 $baseline*2 $baseline/4 $gutter/2;
		@include appearance( none );
		margin: 0;
		border: none;
		height: $baseline*1.5;
		line-height: inherit;
		// line-height: $baseline;
		background-color: transparent;
		@include box-shadow( none );
		cursor: pointer;
		position: relative;
		z-index: 10;

		&::-ms-expand {
		    display: none;
		}
	}
}