@import "../libs";

// -----------------------------------------------------------------------------
// $Fields
// -----------------------------------------------------------------------------

.ev-field {
	display: block;
	float: left;
	@include box-sizing( border-box );
	padding: $baseline/2 $gutter;

	.ev-field-input-size-full {
		width: 100%;
	}

	&.ev-hidden {
		display: none;
	}

	// 100% width
	&.ev-field-size-full {
		width: 100%;
		clear: both;
	}

	// 1/2 width
	&.ev-field-size-large,
	&.ev-field-size-one-half,
	&.ev-field-size-two-fourths {
		width: _ev_col( 1/2 );

		@include ev_media( $media_mobile ) {
			width: _ev_col( 1/1 );
		}
	}

	// 1/3 width
	&.ev-field-size-medium,
	&.ev-field-size-one-third {
		width: _ev_col( 1/3 );

		@include ev_media( $media_mobile ) {
			width: _ev_col( 1/1 );
		}
	}

	// 2/3 width
	&.ev-field-size-two-thirds {
		width: _ev_col( 2/3 );

		@include ev_media( $media_tablet ) {
			width: _ev_col( 1/2 );
		}

		@include ev_media( $media_mobile ) {
			width: _ev_col( 1/1 );
		}
	}

	// 1/4 width
	&.ev-field-size-small,
	&.ev-field-size-one-fourth {
		width: _ev_col( 1/4 );

		@include ev_media( $media_tablet ) {
			width: _ev_col( 1/2 );
		}

		@include ev_media( $media_mobile ) {
			width: _ev_col( 1/1 );
		}
	}

	// 3/4 width
	&.ev-field-size-three-fourths {
		width: _ev_col( 3/4 );

		@include ev_media( $media_tablet ) {
			width: _ev_col( 1/2 );
		}

		@include ev_media( $media_mobile ) {
			width: _ev_col( 1/1 );
		}
	}

	// Break field
	&.ev-field-break {
		float: none;
		clear: both;
	}

	.ev-field-inner {
		@include clearfix();

		p {
			margin: 0;
		}
	}
}

// -----------------------------------------------------------------------------
// $Fields label
// -----------------------------------------------------------------------------

.ev-field-header {
	@include box-sizing( border-box );

	.ev-label {
		font-weight: bold;
		font-size: 14px;
		float: left;
		color: $text;
		cursor: default;
	}

	&.ev-field-header-label-inline,
	&.ev-field-header-label-inline-hidden {
		display: inline-block;
		float: left;
		margin-top: $baseline/6;
		width: 30%;
		max-width: 220px;

		@include ev_media( $media_mobile ) {
			width: 100%;
			max-width: auto;
			margin-top: 0;
		}

		+ .ev-container {
			display: inline-block;
			width: 70%;
			@include box-sizing( border-box );
			padding-left: $gutter;

			@include ev_media( $media_mobile ) {
				width: 100%;
				padding-left: 0;
				padding-top: $baseline/2;
			}
		}
	}

	&.ev-field-header-label-inline-hidden {
		margin-top: 0;
		min-height: 1px;
	}

	&.ev-field-header-label-block {
		width: 100%;
		@include clearfix;
		margin-bottom: $baseline/2;

		.ev-label {
			display: block;
		}
	}

	&.ev-field-header-label-inline-hidden,
	&.ev-field-header-label-hidden {
		.ev-label {
			display: none;
		}
	}
}

// -----------------------------------------------------------------------------
// $Help
// -----------------------------------------------------------------------------

.ev-help {

	&.ev-help-tooltip,
	&.ev-help-popup {
		display: inline-block;
	}

	.ev-help-handle {
		display: inline-block;
		margin-left: $gutter/2;

		&:before {
			@include icon( "\f223" );
			display: block;
			float: left;
			font-size: 20px;
			margin-top: -2px;
			color: $grey_light;
		}

		&:hover {
			&:before {
				color: $blue_dark;
			}
		}

		span {
			display: none;
		}
	}

	&.ev-help-inline {
		display: block;
		clear: both;
		@extend %label;
		padding-top: $baseline/4;

		strong,
		b {
			color: $text;
		}
	}
}