@import "../libs";

// -----------------------------------------------------------------------------
// $Text input
// -----------------------------------------------------------------------------

.ev {
	input[type="text"].ev-field-text-style-small {
		font-size: $small_fsz;
		line-height: $baseline - 4;
		padding: 1px $gutter/4;
		min-height: $baseline - 4 + 2 + 2;
	}
}