// base styles

$selectize-font-family: inherit;
$selectize-font-smoothing: inherit;
$selectize-font-size: 13px;
$selectize-line-height: 18px;

$selectize-color-text: #fff;
$selectize-color-border: $border_color;
$selectize-color-highlight: rgba(125,168,208,0.2);
$selectize-color-input: #fff;
$selectize-color-input-full: $selectize-color-input;
$selectize-color-disabled: #fafafa;
$selectize-color-item: $blue_medium;
$selectize-color-item-text: $selectize-color-text;
$selectize-color-item-border: lighten( $blue_medium, 10 );
$selectize-color-item-active: $blue_dark;
$selectize-color-item-active-text: $selectize-color-text;
$selectize-color-item-active-border: lighten( desaturate( $blue_dark, 40 ), 10 );
$selectize-color-dropdown: #fff;
$selectize-color-dropdown-border: $selectize-color-border;
$selectize-color-dropdown-border-top: #f0f0f0;
$selectize-color-dropdown-item-active: $grey_light_2;
$selectize-color-dropdown-item-active-text: $text;
$selectize-color-dropdown-item-create-text: rgba(red($selectize-color-text), green($selectize-color-text), blue($selectize-color-text), 0.5);
$selectize-color-dropdown-item-create-active-text: $selectize-color-dropdown-item-active-text;
$selectize-color-optgroup: $selectize-color-dropdown;
$selectize-color-optgroup-text: $selectize-color-text;
$selectize-lighten-disabled-item: 30%;
$selectize-lighten-disabled-item-text: 30%;
$selectize-lighten-disabled-item-border: 30%;
$selectize-opacity-disabled: 0.5;

$selectize-shadow-input: inset 0 1px 2px rgba( 0,0,0,.07 );
$selectize-shadow-input-focus: 0 0 2px rgba( $blue_dark, .8 );
$selectize-border: 1px solid $selectize-color-border;
$selectize-dropdown-border: 1px solid $blue_medium;

$selectize-width-item-border: 0;
$selectize-max-height-dropdown: 200px;

$selectize-padding-x: 5px;
$selectize-padding-y: 8px;
$selectize-padding-item-x: 6px;
$selectize-padding-item-y: 4px;
$selectize-padding-dropdown-item-x: $selectize-padding-x;
$selectize-padding-dropdown-item-y: 5px;
$selectize-margin-item-x: 3px;
$selectize-margin-item-y: 3px;

$selectize-arrow-size: 5px;
$selectize-arrow-color: #808080;
$selectize-arrow-offset: 15px;

$selectize-caret-margin: 0 2px 0 0;
$selectize-caret-margin-rtl: 0 4px 0 -2px;

// -----------------------------------------------------------------------------

.selectize-control {
	position: relative;

	&.ev-multiple-select-vertical {

		.selectize-input {
			div {
				display: block;
				margin-right: 0 !important;
			}

			> input {
				display: inline-block !important;
				position: relative !important;
				left: 0 !important;
			}
		}

		.full {
			> input {
				display: none !important;
			}
		}
	}

	.full {
		> input {
			display: none !important;
		}
	}
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
	// color: $selectize-color-text;
	font-family: $selectize-font-family;
	font-size: $selectize-font-size;
	line-height: $selectize-line-height;
	-webkit-font-smoothing: $selectize-font-smoothing;
}

.ev-multiple-select-input-ajax {
	&.selectize-dropdown [data-selectable] .highlight {
		margin-right: 0;

		&:after {
			display: none;
		}
	}

	.selectize-input {
		> input {
			padding: 0 !important;
		}

		&.full {
			> input {
				display: inline-block !important;
			}
		}
	}
}

.selectize-input,
.selectize-control.single .selectize-input.input-active {
	background: $selectize-color-input;
	cursor: text;
	display: inline-block;
}

.selectize-input {
	border: $selectize-border;
	padding: $selectize-padding-y $selectize-padding-x;
	display: inline-block;
	width: 100%;
	overflow: visible !important;
	position: relative;
	z-index: 1;
	@include box-sizing( border-box );
	@include box-shadow( $selectize-shadow-input );

	.selectize-control.multi &.has-items {
		color: $selectize-color-text;
		$padding-x: $selectize-padding-x;
		$padding-top: $selectize-padding-y - $selectize-padding-item-y - $selectize-width-item-border;
		$padding-bottom: $selectize-padding-y - $selectize-padding-item-y - $selectize-margin-item-y - $selectize-width-item-border;
		padding: $padding-top $padding-x $padding-bottom;
	}

	&.full {
		background-color: $selectize-color-input-full;
	}

	&:not( .has-items ) {
		> input {
			padding: 0 !important;
		}
	}

	&.disabled,
	&.disabled * {
		cursor: default !important;
	}

	&.focus {
		border-color: $blue_medium;
		@include box-shadow( $selectize-shadow-input-focus );
	}

	&.dropdown-active {}

	> * {
		vertical-align: baseline;
		display: -moz-inline-stack;
		display: inline-block;
		zoom: 1;
		*display: inline;
	}

	.selectize-control & > div {
		span {
			margin-right: 5px;

			&:after {
				content: ":";
				display: inline-block;
			}
		}
	}

	.selectize-control.multi & > div {
		cursor: pointer;
		margin: 0 $selectize-margin-item-x $selectize-margin-item-y 0;
		padding: $selectize-padding-item-y $selectize-padding-item-x;
		background: $selectize-color-item;
		color: $selectize-color-item-text;
		border-radius: 2px;

		&.active {
			background: $selectize-color-item-active;
			color: $selectize-color-item-active-text;
		}
	}

	.selectize-control.multi &.disabled > div {
		&,
		&.active {
			color: lighten(desaturate($selectize-color-item-text, 100%), $selectize-lighten-disabled-item-text);
			background: lighten(desaturate($selectize-color-item, 100%), $selectize-lighten-disabled-item);
		}
	}

	> input {
		&::-ms-clear {
			display: none;
		}

		color: $text;
		display: inline-block !important;
		padding: $selectize-padding-item-y 0 !important;
		min-height: 0 !important;
		max-height: none !important;
		max-width: 100% !important;
		margin: $selectize-caret-margin !important;
		text-indent: 0 !important;
		border: 0 none !important;
		background: none !important;
		line-height: inherit !important;
		-webkit-user-select: auto !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;

		&:focus { outline: none !important; }
	}
}

.selectize-input::after {
	content: ' ';
	display: block;
	clear: left;
}

.selectize-input.dropdown-active::before {
	content: ' ';
	display: block;
	position: absolute;
	background: $selectize-color-dropdown-border-top;
	height: 1px;
	bottom: 0;
	left: 0;
	right: 0;
}

.selectize-dropdown {
	position: absolute;
	z-index: 10000;
	border: $selectize-dropdown-border;
	background: $selectize-color-dropdown;
	margin: -1px 0 0 0;
	border-top: 0 none;
	@include box-sizing( border-box );
	@include box-shadow( 0 1px 3px rgba( #000, .1 ) );
	color: $text;

	[data-selectable] {
		cursor: pointer;
		overflow: hidden;

		.highlight {
			background: $selectize-color-highlight;
		}
	}

	[data-selectable], .optgroup-header {
		padding: $selectize-padding-dropdown-item-y $selectize-padding-dropdown-item-x;
	}

	.optgroup:first-child .optgroup-header {
		border-top: 0 none;
	}

	.optgroup-header {
		color: $selectize-color-optgroup-text;
		background: $selectize-color-optgroup;
		cursor: default;
	}

	span {
		margin-right: 4px;

		&:after {
			content: ":";
			display: inline-block;
		}
	}

	.active {
		background-color: $selectize-color-dropdown-item-active;
		color: $selectize-color-dropdown-item-active-text;

		&.create {
			color: $selectize-color-dropdown-item-create-active-text;
		}
	}

	.create {
		color: $selectize-color-dropdown-item-create-text;
	}
}

.selectize-dropdown-content {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: $selectize-max-height-dropdown;
}

.selectize-control.single .selectize-input {
	&,
	input { cursor: pointer; }

	&.input-active,
	&.input-active input { cursor: text; }

	&:after {
		content: ' ';
		display: block;
		position: absolute;
		top: 50%;
		right: $selectize-arrow-offset;
		margin-top: round((-1 * $selectize-arrow-size / 2));
		width: 0;
		height: 0;
		border-style: solid;
		border-width: $selectize-arrow-size $selectize-arrow-size 0 $selectize-arrow-size;
		border-color: $selectize-arrow-color transparent transparent transparent;
	}

	&.dropdown-active:after {
		margin-top: $selectize-arrow-size * -0.8;
		border-width: 0 $selectize-arrow-size $selectize-arrow-size $selectize-arrow-size;
		border-color: transparent transparent $selectize-arrow-color transparent;
	}
}

.selectize-control.rtl {
	&.single .selectize-input:after {
		left: $selectize-arrow-offset;
		right: auto;
	}
	.selectize-input > input {
		margin: $selectize-caret-margin-rtl !important;
	}
}

.selectize-control .selectize-input.disabled {
	opacity: $selectize-opacity-disabled;
	background-color: $selectize-color-disabled;
}

// -----------------------------------------------------------------------------
// $Remove button plugin
// -----------------------------------------------------------------------------

.selectize-control.plugin-remove_button {
	[data-value] {
		position: relative;
	}

	.multi [data-value] {
		padding-right: 24px !important;
	}

	[data-value] .remove {
		z-index: 1; /* fixes ie bug (see #392) */
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 17px;
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		color: inherit;
		text-decoration: none;
		vertical-align: middle;
		display: inline-block;
		padding: $selectize-padding-item-y 0 0 0;
		border-left: 1px solid $selectize-color-item-border;
		border-radius: 0 2px 2px 0;
		@include box-sizing( border-box );
	}

	[data-value] .remove:hover {
		background: rgba( #000, 0.1 );
	}

	[data-value].active .remove {
		border-left-color: $selectize-color-item-active-border;
	}

	.disabled [data-value] .remove:hover {
		background: none;
	}

	.disabled [data-value] .remove {
		border-left-color: lighten(desaturate($selectize-color-item-border, 100%), $selectize-lighten-disabled-item-border);
	}
}

// -----------------------------------------------------------------------------
// $Drag & Drop plugin
// -----------------------------------------------------------------------------

.selectize-control.plugin-drag_drop {
	&.multi > .selectize-input > div.ui-sortable-placeholder {
		visibility: visible !important;
		background: $grey_light_2 !important;
	}

	.ui-sortable-placeholder::after {
		content: '!';
		visibility: hidden;
	}

	.ui-sortable-helper {
		@include box-shadow( 0 1px 10px rgba( #000, .1 ) );
	}
}
