@mixin opacity($opacity: 100) {
	-khtml-opacity: $opacity / 100;
	-moz-opacity: $opacity / 100;
	opacity: $opacity / 100;
	filter: alpha(opacity=#{round($opacity)});
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $opacity + ")";
}