@mixin ev_accordion_reset() {
	.ev-accordion {
		@extend %clearfix !optional;
	}

	.ev-toggle {
		@extend %clearfix !optional;
	}

	.ev-toggle-trigger {
		@extend %clearfix !optional;

		.rtl & {
			text-align: right;
		}
	}

	.ev-toggle-content {
		@extend %clearfix !optional;
		display: none;
	}

	.ev-toggle.ev-active .ev-toggle-content {
		display: block;
	}
}